body{
  background-color: #81ecec;
}

.App{
  background-color: #00cec9 ;
  min-height: 500px;
  width : 50%;
  margin: 200px auto;
  border-style: solid;
  border-color: #2d3436;
  border-radius: 10px;
}

#title{
  color: #fff;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 35%;
  font-size: larger;
}

#to-do-form {
  align-items: center;
}

#to-do-form input{
  background-color: #2d3436;
  border: 0;
  width: 50%;
  height: 50px;
  padding: 0 20px;
  margin-top: 2%;
  margin-left: 10%;
  margin-right: 5%;
  font-size: 18px;
  border-radius: 10px;
  color: #fff;
}

#to-do-form input::placeholder{
  color: #636e72;
}

#to-do-form input:focus, #to-do-form button:focus{
  outline: none;
}

#to-do-form button{
  background-color: #2d3436;
  border: 0;
  height: 50px;
  width: 80px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: medium;
}