body{
  background-color: #fff;
}

.App{
  background-color: #bdc3c7 ;
  min-height: 745px;
  width : 80%;
  margin-left: 25%;
  margin-top: -766px;
}

#to-do-form {
  margin: 2% auto;
}

#to-do-form input{
  background-color: #2d3436;
  border: 0;
  width: 50%;
  height: 50px;
  padding: 0 20px;
  margin-top: 2%;
  margin-left: 10%;
  margin-right: 5%;
  font-size: 18px;
  border-radius: 10px;
  color: #fff;
}

#to-do-form input::placeholder{
  color: #636e72;
}

#to-do-form input:focus, #to-do-form button:focus{
  outline: none;
}

#to-do-form button{
  background-color: #2d3436;
  border: 0;
  height: 50px;
  width: 80px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: medium;
}