.TopBar{
    background-color: #c0392b;
    height: 75px;
    width: 100%;
    margin-top: -3%;
}

.TopBar p{
    font-size: 30px;
    color: #fff;
    font-family: Verdana, Tahoma, sans-serif;
    font-weight: medium;
    padding-top: 1.5%;
    margin-left: 35%;
    cursor: pointer;
}

a {
    color: #fff;
    text-decoration: none;
}